/activate.sh
/CircleMakerSDET/.pytest_cache/
/Cryptography/private-keys-v1.d/
/Cryptography/openpgp-revocs.d/
/DataBases/my_database.sqlite
/Scripts/
/Pandas/data/
/MachineLearning/TensorFlow/Classification/save_at_1.h5
/MachineLearning/TensorFlow/TransferLearning/inception_v3.h5
/MachineLearning_LearningCourses/StepiK/data/
/AutomodelingPy/data/
/5_PyTests_Experiments/.pytest_cache/
/5_PyTests_Experiments/Module1/.pytest_cache/
/3_Tips_and_Recipes/DataStructures_Algorithms/.pytest_cache/
**/__pycache__/
.idea/
venv/